body {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
* html {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
.wrap {
  top: 0;
  left: 0;
  right: 0;
}
.tridiv {
  perspective: 500px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.scene,
.shape,
.face,
.face-wrapper,
.cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3D(0em, 0em, 0em) rotateX(20deg) rotateY(-5deg)
    rotateZ(2deg);
  transform: translate3D(0em, 0em, 0em) rotateX(20deg) rotateY(-5deg)
    rotateZ(2deg);
}

.shape {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform-origin: 50%;
}

.face,
.face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: visible;
  opacity: 0.8;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}

.face {
  background-size: 100% 100% !important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%;
  margin: 5px;
}

.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.side {
  left: 50%;
}
.cr,
.cr .side {
  height: 100%;
}
[class*="cuboid"] .ft,
[class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
[class*="pyramid"] .face-wrapper .face {
  transform: rotateZ(45deg) translateX(-35.35%) translateY(35.35%);
}
[class*="pyramid"] .bk {
  left: 100%;
}
[class*="pyramid"] .bm {
  top: 100%;
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="pyramid"] .rt,
[class*="pyramid"] .lt {
  transform-origin: 50% 0;
}
/* .pornhub styles */
.cuboid-1:hover,
.cuboid-1:active {
  transform: scale(0);
}

.pornhub:hover {
  background-color: #fff5;
  animation: spin 5s cubic-bezier(0.15, 1.81, 0.79, 0.47) alternate forwards;
}
.pornhub {
  transform: translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 5em;
  height: 5em;
  margin: -2.5em 0 0 -2.5em;
}
.pornhub .ft {
  transform: translateZ(2.5em);
}
.pornhub .bk {
  transform: translateZ(-2.5em) rotateY(180deg);
}
.pornhub .rt,
.pornhub .lt {
  width: 5em;
  height: 5em;
}
.pornhub .tp,
.pornhub .bm {
  width: 5em;
  height: 5em;
}
.pornhub:hover .face {
  border-radius: 5px;
}
.pornhub .face {
  border: 2px double transparent;
  background-size: 100% 100%;
  background: url(assets/default/pornhub.png)
    transparent;
}
.pornhub .face::after {
  content: "";
  border: 2px double transparent;
  background: #000000;
}
.Fetlife:hover .face {
  border-radius: 5px;
}
/* .Fetlife styles */
.Fetlife:hover {
  animation: spin1 5s cubic-bezier(0.15, 1.81, 0.79, 0.47) alternate forwards;
  background-color: rgba(255, 255, 0, 0.657);
  box-shadow: inset 1px 1px 5px 5px rgba(255, 255, 0, 0.657);
}
.Fetlife {
  transform: translate3D(5em, 0em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 5em;
  height: 5em;
  margin: -2.5em 0 0 -2.5em;
}
.Fetlife .ft {
  transform: translateZ(2.5em);
}
.Fetlife .bk {
  transform: translateZ(-2.5em) rotateY(180deg);
}
.Fetlife .rt,
.Fetlife .lt {
  width: 5em;
  height: 5em;
}
.Fetlife .tp,
.Fetlife .bm {
  width: 5em;
  height: 5em;
}
.Fetlife .face {
  border: 2px double transparent;
  background: url(assets/default/fetlife.png)
    transparent;
}
/* .reddit styles */
.reddit:hover,
.reddit:active {
  transform: scale(0.5em);
}
.reddit:hover {
  background-color: #fff5;
  box-shadow: inset 1px 1px 5px 5px rgba(255, 255, 0, 0.657);
  animation: spin2 5s cubic-bezier(0.15, 1.81, 0.79, 0.47) alternate forwards;
}
.reddit {
  transform: translate3D(10em, 0em, 0em) rotateX(-180deg) rotateY(-180deg)
    rotateZ(-180deg);
  opacity: 1;
  width: 5em;
  height: 5em;
  margin: -2.5em 0 0 -2.5em;
}
.reddit .ft {
  transform: translateZ(2.5em);
}
.reddit .bk {
  transform: translateZ(-2.5em) rotateY(180deg);
}
.reddit .rt,
.reddit .lt {
  width: 5em;
  height: 5em;
}
.reddit .tp,
.reddit .bm {
  width: 5em;
  height: 5em;
}
.reddit:hover .face {
  border-radius: 5px;
}
.reddit .face {
  border: 2px double transparent;
  background: url(assets/default/reddit.png)
    transparent;
}
.reddit .ft {
  width: 5em;
  margin-left: 0em;
}
.reddit .bk {
  width: 5em;
  margin-left: 0em;
}
.reddit .rt,
.reddit .lt {
  width: 5em;
}
.reddit .tp,
.reddit .bm,
.reddit .tp .photon-shader,
.reddit .bm .photon-shader {
  border-radius: 0em;
}
.reddit .cr {
  width: 0em;
  left: 0em;
}
.reddit .cr-0 {
  transform: translate3D(5em, 0, 2.5em);
}
.reddit .cr-1 {
  transform: translate3D(5em, 0, -2.5em);
}
.reddit .cr-2 {
  transform: translate3D(0, 0, -2.5em);
}
.reddit .cr-3 {
  transform: translate3D(0, 0, 2.5em);
}
.reddit .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, -0.025em);
}
.reddit .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, -0.025em);
}
.reddit .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, -0.025em);
}
.reddit .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, -0.025em);
}
.reddit .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, -0.025em);
}
.reddit .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, -0.025em);
}
.reddit .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, -0.025em);
}
.reddit .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, -0.025em);
}
.reddit .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, -0.025em);
}
.reddit .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, -0.025em);
}
.reddit .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, -0.025em);
}
.reddit .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, -0.025em);
}
.reddit .side {
  width: 0.025em;
}

/* .snapchat styles */
.snapchat:hover {
  animation: spin3 5s cubic-bezier(0.15, 1.81, 0.79, 0.47) alternate forwards;
  background-color: #fff5;
  box-shadow: inset 1px 1px 5px 5px rgba(255, 255, 0, 0.657);
}
.snapchat {
  transform: translate3D(-5em, 0em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 5em;
  height: 5em;
  margin: -2.5em 0 0 -2.5em;
}
.snapchat .ft {
  transform: translateZ(2.5em);
}
.snapchat .bk {
  transform: translateZ(-2.5em) rotateY(180deg);
}
.snapchat .rt,
.snapchat .lt {
  width: 5em;
  height: 5em;
}
.snapchat .tp,
.snapchat .bm {
  width: 5em;
  height: 5em;
}
.snapchat:hover .face {
  border-radius: 5px;
}
.snapchat .face {
  border: 2px double transparent;
  background: url(assets/default/snapchat.png)
    transparent;
}
.tiktok:hover {
    animation: spin4 5s cubic-bezier(0.15, 1.81, 0.79, 0.47) alternate forwards;
    background-color: #fff5;
    box-shadow: inset 1px 1px 5px 5px rgba(255, 255, 0, 0.657);
  }
  .tiktok {
    transform: translate3D(-10em, 0em, 0em) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg);
    opacity: 1;
    width: 5em;
    height: 5em;
    margin: -2.5em 0 0 -2.5em;
  }
  .tiktok .ft {
    transform: translateZ(2.5em);
  }
  .tiktok .bk {
    transform: translateZ(-2.5em) rotateY(180deg);
  }
  .tiktok .rt,
  .tiktok .lt {
    width: 5em;
    height: 5em;
  }
  .tiktok .tp,
  .tiktok .bm {
    width: 5em;
    height: 5em;
  }
  .tiktok:hover .face {
    border-radius: 5px;
  }
  .tiktok .face {
    border: 2px double transparent;
    background: url(assets/default/tiktok.png)
      transparent;
  }

.tikk {
  animation: spin1 1s ease-in-out alternate infinite;
}
.snap {
  animation: spin1 1s ease-in-out alternate infinite;
}
.twtr {
  animation: spin1 1s ease-in-out alternate infinite;
}
.lkd {
  animation: spin1 1s ease-in-out alternate infinite;
}
.h5 {
  animation: spin1 1s ease-in-out alternate infinite;
}
@keyframes spin {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
@keyframes spin1 {
  0% {
    -webkit-transform: translate3D(5em, 0em, 0em) rotateX(0deg);
    transform: translate3D(5em, 0em, 0em) rotateX(0deg);
  }
  100% {
    -webkit-transform: translate3D(5em, 0em, 0em) rotateX(360deg);
    transform: translate3D(5em, 0em, 0em) rotateX(360deg);
  }
}
@keyframes spin2 {
  0% {
    transform: translate3D(10em, 0em, 0em) rotateX(-180deg) rotateY(-180deg)
      rotateZ(-180deg);
    -webkit-transform: translate3D(10em, 0em, 0em) rotateX(-180deg)
      rotateY(-180deg) rotateZ(-180deg);
  }
  100% {
    transform: translate3D(10em, 0em, 0em) rotateX(180deg) rotateY(-180deg)
      rotateZ(-180deg);
    -webkit-transform: translate3D(10em, 0em, 0em) rotateX(180deg)
      rotateY(-180deg) rotateZ(-180deg);
  }
}
@keyframes spin3 {
  0% {
    -webkit-transform: translate3D(-5em, 0em, 0em) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg);
    transform: translate3D(-5em, 0em, 0em) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg);
  }
  100% {
    -webkit-transform: translate3D(-5em, 0em, 0em) rotateX(360deg) rotateY(0deg)
      rotateZ(0deg);
    transform: translate3D(-5em, 0em, 0em) rotateX(360deg) rotateY(0deg)
      rotateZ(0deg);
  }
}
@keyframes spin4 {
  0% {
    -webkit-transform: translate3D(-10em, 0em, 0em) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg);
    transform: translate3D(-10em, 0em, 0em) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg);
  }
  100% {
    -webkit-transform: translate3D(-10em, 0em, 0em) rotateX(360deg)
      rotateY(0deg) rotateZ(0deg);
    transform: translate3D(-10em, 0em, 0em) rotateX(360deg) rotateY(0deg)
      rotateZ(0deg);
  }
}
@keyframes spin5 {
  0% {
    -webkit-transform: translate3D(-14.5em, 0em, 0em) rotateX(0deg)
      rotateY(-538.1deg) rotateZ(-91.8deg);
    transform: translate3D(-14.5em, 0em, 0em) rotateX(0deg) rotateY(-538.1deg)
      rotateZ(-91.8deg);
  }
  100% {
    -webkit-transform: translate3D(-14.5em, 0em, 0em) rotateX(360deg)
      rotateY(-538.1deg) rotateZ(-91.8deg);
    transform: translate3D(-14.5em, 0em, 0em) rotateX(360deg) rotateY(-538.1deg)
      rotateZ(-91.8deg);
  }
}

@keyframes spin6 {
  0% {
    -webkit-transform: translate3D(14.5em, 0em, 0em) rotateX(0deg)
      rotateY(-538.1deg) rotateZ(88.2deg);
    transform: translate3D(14.5em, 0em, 0em) rotateX(0deg) rotateY(-538.1deg)
      rotateZ(88.2deg);
  }
  100% {
    -webkit-transform: translate3D(14.5em, 0em, 0em) rotateX(0deg)
      rotateY(-538.1deg) rotateZ(88.2deg);
    transform: translate3D(14.5em, 0em, 0em) rotateX(360deg) rotateY(-538.1deg)
      rotateZ(88.2deg);
  }
}
